
<div class="clsBlogCard" id="loginCard">
  <header>
    <span id:"title">
      Sign Up
    </span>
  </header>
  <form method="POST" action="/create-account" >
    <p>
    <label class="clsPostLabel" for="username">Username</label>
    <input class="clsPostInput" id="username" name="username" ></input>
    <label class="clsPostLabel" for="inputNewPostContent">password</label>
    <input class="clsPostInput" type="password" id="password" name="password"></input>
    
     <button type="submit" class="btn btn-primary me-2 clsPostButton">Sign Up!</button>
    <a href="/login" class="">Login instead</a>
  </p>
  </form>
</div>


