<div class="container-fluid">
            <!--  loop through stellarEvents and create list time.
            The list item has buttons for view, save, ical
            -->
            {{#each stellarEvents as |stellarEvent|}}

,!-- post cards -->
<div class="blogs">
  <section class="card">
    <header>Post</header>
    <p id:"post">
      posttrext
    </p>
    {{stellarEvent.id}}
  </section>
</div>


            {{/each}}


<!-- Included Scripts 
<script src="./assets/js/eventpage.js"></script>

<script>
  var currentUserId = "{{currentUserId}}"; // Assign the currentUserId from the session
</script>
-->
